

%bg-formatoS2Info {
    background-color: #000;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 0 10%;
}
%estiloH3Info {
    display: inline;
    justify-content: center;
    background-color: rgb(3, 44, 119);
    color: #2bff00;
    font-size: 40px;
    text-align: center;
}
%Fonts-format {
    font-family: 'Rationale', "sans-serif";
    text-transform: uppercase;
}