
.formatoSection1index {
    display: flex;
    background-image: url("../image/Bg-section1index.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 0 10%;


}

    span {

        h3 {
            font-size: 80px;
            font-family: 'Rationale', "sans-serif";
            text-transform: uppercase;
            margin: 0 18% 6%;

            @media screen and (max-width:426px) /*Mobile*/ {
                font-size: 30px;
            }
        
            @media screen and (min-width:426px) and (max-width:768px) /*Tablet*/ {
                font-size: 50px;
            }
        
            @media screen and (min-width:769px) and (max-width:991px) /*Desktop*/ {
        
            }

            
        }
        
    }

    


section {
    span {
        p {
            font-size: 30px;
            font-family: 'Rationale', "sans-serif";
            text-transform: uppercase;
            

            @media screen and (max-width:426px) /*Mobile*/ {
                margin: 0%;
                font-size: 15px;
            }
            
            @media screen and (min-width:426px) and (max-width:768px) /*Tablet*/ {
                margin: 0%;
                font-size: 20px;
            }
            
            @media screen and (min-width:769px) and (max-width:991px) /*Desktop*/ {
                margin: 0%;
                font-size: 30px;
            }

            
        
    
                a{
                    text-decoration: none;

                &:hover {
                    background-color: blueviolet;
                    color: blue;
                    }
                }
        }
    }
}

.animacion {
    animation: rollIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1.5s; /* don't forget to set a duration! */
  }


  