

.estiloSection1y3QuienesS {
    padding-top: 10%;
    background-color: black;

    padding: 0 5%;
}

.estiloSection2y4QuienesS {
    padding-top: 10%;
    background-color: rgb(255, 255, 255);

    padding: 0 10%;
}
/******************************/

.propH2-1y3 {
    font-size: 60px;
    color: blanchedalmond;
}

.propH2-2y4 {
    font-size: 60px;
    color: rgb(12, 12, 12);
}

/**************************************/

.propP1y3 {
    font-size: 35px;
    color: blanchedalmond;
    display: flex;
    justify-content: center;
}

.propP2y4 {
    font-size: 35px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}